body{
    background-color: none;
}
.body{
    background-image: linear-gradient(to bottom, #0da831, #191919) ;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(media/northern-lights-gd6ce92591_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;  
}

#hero h1{
    color: #ffff;
}
.navbar-inverse {
    border-color: transparent;
}
.border-icon{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.7rem;
    margin: 15px;
    border: solid thin white;
    border-radius: 5px;
    font-size: 2rem;
    transition: all .3s ease-in;
}
.border-icon:hover{
    background-color: #2fc92f;
    color:black;
    cursor: pointer;
}
.container-icons{
    display: flex;
    justify-content:center;
}